.contacts
  background-color: #ededed
  padding: 140px 0 96px
  @media screen and (max-width: 720px)
    padding-top: 52px
  .logo-footer
    margin-bottom: 44px

  .tel-mail
    margin-bottom: 32px
  a, p
    font-family: 'MullerRegular', sans-serif
    font-size: 28px
    line-height: 33px
    color: black
    text-align: center
    @media screen and (max-width: 720px)
      font-size: 20px
      line-height: 23px
  p
    margin-bottom: 64px
  .icons
    width: 233px